#GridRadio {
    background-image: url("https://i.ibb.co/TL8svJH/radio.jpg");
    background-size: cover;
    width: 25%;
    height: 150px;
    box-shadow: 2px 3px 5px pink;
    padding: 2%;
    padding-top: 10%;
    bottom: 0px;
    display: inline-block;
    margin: 2%;
}

#h2 {
    margin-top: 50px;
    color: rebeccapurple;
}

#myDiv {
    display: inline-block;
}

#container {
    margin-top: 8%;
    position: absolute;
}

#audioPlayer {
    lighting-color: rebeccapurple;
}