.states {
    max-width: 720px;

}

.state {
    border: 1px solid red;
}

#GridState {}

#stateComponent {}

.navbar-icons {
    float: left;
    padding: 0%;
    text-align: right;
}

.login-buttons {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}